body {
  background-color: #fff;
  font: 12px Verdana, Arial, sans-serif;
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  border: 3px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  width: 100%;
  clear: both;
}
.box {
  float: left;
  height: 700px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #fff;
  background-color: #ddd;
}
.box:before {
  display: block;
  margin: 10px 0 0 10px;
  font-size: 18px;
}
.w100 {
  width: 100%;
}
.w100:before {
  content: 'w100';
}
.w60 {
  width: 60%;
}
.w60:before {
  content: 'w60';
}
.w50 {
  width: 50%;
}
.w50:before {
  content: 'w50';
}
.w40 {
  width: 40%;
}
.w40:before {
  content: 'w40';
}
.w25 {
  width: 25%;
}
.w25:before {
  content: 'w25';
}
